<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred.macos-services</string>
	<key>connections</key>
	<dict>
		<key>054DBBD0-6438-4558-8385-F9007F9CAAB4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>206FE67F-4309-49B3-ADC4-72B0FD32FB61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>206FE67F-4309-49B3-ADC4-72B0FD32FB61</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2617139-82A7-4991-B735-173585DE2CAA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A95E744-11F9-4E06-ADE7-226C6470BD04</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DAAB434-9A13-4929-87FB-A8480CA81ADF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53E8AF64-5368-48AC-92A5-393C41E2FD5F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D211F7C8-DC82-4BA5-A6AD-487F0631B08C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CE3C53CE-A1F5-4EC5-91CD-CD176F3D3735</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>206FE67F-4309-49B3-ADC4-72B0FD32FB61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DAAB434-9A13-4929-87FB-A8480CA81ADF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2E4E44D-F9CF-41D5-8048-49027A23DF14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7DC37085-E798-44A2-B48A-18C2D615567F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8489026D-97A0-40DD-AE02-94349B682DBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8489026D-97A0-40DD-AE02-94349B682DBE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD18AA3C-3DA9-4BA2-8F8E-3DD4736BDDF0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B23AEA1C-49B7-4BD4-B519-E59BC7445EA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BD18AA3C-3DA9-4BA2-8F8E-3DD4736BDDF0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD18AA3C-3DA9-4BA2-8F8E-3DD4736BDDF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D025E895-3B47-4A1D-A37A-7A57A0A532C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D025E895-3B47-4A1D-A37A-7A57A0A532C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53E8AF64-5368-48AC-92A5-393C41E2FD5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2E4E44D-F9CF-41D5-8048-49027A23DF14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6920921E-E46C-46D4-8115-DB670DB13467</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0E0BF794-D94E-4DF2-A33B-26D5A934ACAF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BD18AA3C-3DA9-4BA2-8F8E-3DD4736BDDF0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson &lt;deanishe@deanishe.net&gt;</string>
	<key>description</key>
	<string>Run macOS Services from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>macOS Services</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Couldn't get current selection from active application</string>
				<key>title</key>
				<string>Nothing Selected</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6920921E-E46C-46D4-8115-DB670DB13467</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>44</integer>
				<key>hotmod</key>
				<integer>1441792</integer>
				<key>hotstring</key>
				<string>/</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4A95E744-11F9-4E06-ADE7-226C6470BD04</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>WaitForPasteboard.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6DAAB434-9A13-4929-87FB-A8480CA81ADF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:copy_failed}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Copy Failed</string>
						<key>uid</key>
						<string>0E0BF794-D94E-4DF2-A33B-26D5A934ACAF</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D2E4E44D-F9CF-41D5-8048-49027A23DF14</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>D211F7C8-DC82-4BA5-A6AD-487F0631B08C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>services</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading applicable services…</string>
				<key>script</key>
				<string>./alfred-services "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Execute macOS Service</string>
				<key>title</key>
				<string>macOS Services</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D025E895-3B47-4A1D-A37A-7A57A0A532C7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>44</integer>
				<key>hotmod</key>
				<integer>1703936</integer>
				<key>hotstring</key>
				<string>/</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B23AEA1C-49B7-4BD4-B519-E59BC7445EA5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:reveal}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>reveal service</string>
						<key>uid</key>
						<string>CE3C53CE-A1F5-4EC5-91CD-CD176F3D3735</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>run service</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>53E8AF64-5368-48AC-92A5-393C41E2FD5F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>.
/--------- INPUT VARIABLES ---------\
query={query}
variables={allvars}
\--------- INPUT VARIABLES ---------/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>BD18AA3C-3DA9-4BA2-8F8E-3DD4736BDDF0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>PerformService.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>206FE67F-4309-49B3-ADC4-72B0FD32FB61</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>💀 Service Error 💀</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D2617139-82A7-4991-B735-173585DE2CAA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>New TextEdit Window Containing Selection</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>122</integer>
				<key>hotmod</key>
				<integer>10223616</integer>
				<key>hotstring</key>
				<string>F1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>054DBBD0-6438-4558-8385-F9007F9CAAB4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./alfred-services -files $@</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>PathsToPasteboard.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8489026D-97A0-40DD-AE02-94349B682DBE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>macOS Services</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>7DC37085-E798-44A2-B48A-18C2D615567F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>macOS Services for Alfred
=========================

Run macOS services via Alfred.

This workflow can execute macOS services on the clipboard contents, current selection or files (via an Alfred File Action).


Usage
-----

When run via keyword (`services` by default), you can choose from services that are applicable to the current contents of the general pasteboard. There is also a Hotkey to run the workflow with the current pasteboard.

Alternatively, you can call the workflow via its File Action (called "macOS Services") to run a service with the selected files, or use the second Hotkey to run the workflow on the current macOS selection.

Finally, you can assign your own Hotkeys to specific services (though this only works with the pasteboard contents).</string>
	<key>uidata</key>
	<dict>
		<key>054DBBD0-6438-4558-8385-F9007F9CAAB4</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>EXAMPLE

Assign a Hotkey to a specific service (called on current clipboard contents)</string>
			<key>xpos</key>
			<integer>625</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>206FE67F-4309-49B3-ADC4-72B0FD32FB61</key>
		<dict>
			<key>note</key>
			<string>Execute service</string>
			<key>xpos</key>
			<integer>1000</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>4A95E744-11F9-4E06-ADE7-226C6470BD04</key>
		<dict>
			<key>note</key>
			<string>Run with current selection</string>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>53E8AF64-5368-48AC-92A5-393C41E2FD5F</key>
		<dict>
			<key>xpos</key>
			<integer>835</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>6920921E-E46C-46D4-8115-DB670DB13467</key>
		<dict>
			<key>xpos</key>
			<integer>625</integer>
			<key>ypos</key>
			<integer>15</integer>
		</dict>
		<key>6DAAB434-9A13-4929-87FB-A8480CA81ADF</key>
		<dict>
			<key>note</key>
			<string>Simulate ⌘C to get current selection and wait for clipboard to populate</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>7DC37085-E798-44A2-B48A-18C2D615567F</key>
		<dict>
			<key>note</key>
			<string>Run services on files</string>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>8489026D-97A0-40DD-AE02-94349B682DBE</key>
		<dict>
			<key>note</key>
			<string>Put files on pasteboard</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>B23AEA1C-49B7-4BD4-B519-E59BC7445EA5</key>
		<dict>
			<key>note</key>
			<string>Run with clipboard contents</string>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>BD18AA3C-3DA9-4BA2-8F8E-3DD4736BDDF0</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>D025E895-3B47-4A1D-A37A-7A57A0A532C7</key>
		<dict>
			<key>note</key>
			<string>Filter macOS services</string>
			<key>xpos</key>
			<integer>625</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>D211F7C8-DC82-4BA5-A6AD-487F0631B08C</key>
		<dict>
			<key>xpos</key>
			<integer>1000</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>D2617139-82A7-4991-B735-173585DE2CAA</key>
		<dict>
			<key>note</key>
			<string>Show error message</string>
			<key>xpos</key>
			<integer>1170</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>D2E4E44D-F9CF-41D5-8048-49027A23DF14</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.2.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
